// Dependance
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

// Import
@import "./navbar";
@import "./header";
@import "./footer";

body {
  background-color: #f3eff0;
  font-family: 'Montserrat', sans-serif;
}

.page-content {
  margin: 10px;
  margin: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .20);
  background-color: white;
  border-radius: 5px;
}

// INTRODUCTION.HTML

div.introduction-container {

  .introduction-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    padding: 15px 0px;

    h2 {
      font-size: 1.2em;
    }

    p {
      font-size: .7em;
    }
  }

  .service-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;

    .service-item-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 25px;
      text-align: center;


      h3.service-item-title {
        font-weight: 500;
        font-size: 1em;
      }

      p.service-item-description {
        font-size: 0.7em;
      }
    }

    .service-item-first-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 0px;
    }

    .service-item-second-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 0px;
    }
  }

  img.service-item-icon {
    height: 75px;
  }
}

